{% extends "header.html"%}
{% block content %}
        <div class="bgded overlay" style="background-image:url({{url_for('static', filename='./images/img3.jpg')}});">
            <div id="breadcrumb" class="hoc clear">
                <ul class="slides">
                    <li>
                        <article1>
                            <h1 class='heading1'>About Us </h1>
                        </article1>
                    </li>
                </ul>
                <ul>
                  <li><a href="/home">Home</a></li>
                  <li><a href="/about_us">About Us</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper row3">
            <main class="hoc container clear">
                <div class="sectiontitle1">
                    <h3 class="heading">The Data Titans</h3>
                    <p><br>We are the Data Titans team. We are four master students from the University of Duisburg-Essen and this is our project of the course Learning Analytics 2019/20.<br>
                        <br>------- Team members -------
                        <br>Seyedemarzie Mirhashemi<br>Aashish Agarwal<br>Sameh Frihat<br>Shoeb Joarder<br><br><br><br><br><br><br></p>
                </div>
                <div class="clear"></div>
                <div class="content">
                    <img class="imgl borderedbox inspace-5" src="../static/images/soco_logo.png" alt="">
                    <img class="imgr borderedbox inspace-5" src="../static/images/due.png" alt="">
                </div>
            </main>
        </div>
{% endblock content %}