{% extends "header.html"%} {% block content %}
<div class="bgded overlay" style="background-image:url({{url_for('static', filename='./images/img3.jpg')}});">
    <div id="breadcrumb" class="hoc clear">
        <ul class="slides">
            <li>
                <article1>
                    <h1 class='heading1'>Predict Your Result </h1>
                </article1>
            </li>
        </ul>
        <ul>
            <li><a href="/questionForm">Predict</a></li>
            <li><a href="/questionForm">Predict Your Result</a></li>
        </ul>
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="sectiontitle">
            <p>
                <br>Lets start the prediction!</p>
            <p>
                </br>Please fill up the form and press predict</p>
        </div>
        <!-- question form to ask users to enter the options for prediction -->
        <form action="" method="POST">
            <div class="scrollable">
                <table>
                    <!-- Row 1 -->
                    <tbody>
                        <td>Gender:</td>
                        <td>
                            <select name="gender" method="post" action="" width="300" style="width: 300px">
                                <option value="{{gender[0]}}" selected>{{gender[0]}}</option>
                                {% for gender in gender[1:] %}
                                <option value="{{gender}}">{{gender}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>Region:</td>
                        <td>
                            <select name="region" method="post" region="" width="300" style="width: 300px">
                                <option value="{{region[0]}}" selected>{{region[0]}}</option>
                                {% for region in region[1:] %}
                                <option value="{{region}}">{{region}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tbody>
                    <!-- Row 2 -->
                    <tbody>
                        <td>Highest Education:</td>
                        <td>
                            <select name="highest_education" method="post" action="" width="300" style="width: 300px">
                                <option value="{{highest_education[0]}}" selected>{{highest_education[0]}}</option>
                                {% for highest_education in highest_education[1:] %}
                                <option value="{{highest_education}}">{{highest_education}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>IMD Band:</td>
                        <td>
                            <select name="imd_band" method="post" action="" width="300" style="width: 300px">
                                <option value="{{imd_band[0]}}" selected>{{imd_band[0]}}</option>
                                {% for imd_band in imd_band[1:] %}
                                <option value="{{imd_band}}">{{imd_band}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tbody>
                    <!-- Row 3 -->
                    <tbody>
                        <td>Age Group:</td>
                        <td>
                            <select name="age_band" method="post" action="" width="300" style="width: 300px">
                                <option value="{{age_band[0]}}" selected>{{age_band[0]}}</option>
                                {% for age_band in age_band[1:] %}
                                <option value="{{age_band}}">{{age_band}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>Number Of Previous Attempts:</td>
                        <td>
                            <select name="num_of_prev_attempts" method="post" action="" width="300" style="width: 300px">
                                <option value="{{num_of_prev_attempts[0]}}" selected>{{num_of_prev_attempts[0]}}</option>
                                {% for num_of_prev_attempts in num_of_prev_attempts[1:] %}
                                <option value="{{num_of_prev_attempts}}">{{num_of_prev_attempts}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tbody>
                    <!-- Row 4 -->
                    <tbody>
                        <td>Semester:</td>
                        <td>
                            <select name="is_banked" method="post" action="" width="300" style="width: 300px">
                                <option value="{{is_banked[0]}}" selected>{{is_banked[0]}}</option>
                                {% for is_banked in is_banked[1:] %}
                                <option value="{{is_banked}}">{{is_banked}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>First Module:</td>
                        <td>
                            <select name="code_module_x" method="post" action="" width="300" style="width: 300px">
                                <option value="{{code_module_x[0]}}" selected>{{code_module_x[0]}}</option>
                                {% for code_module_x in code_module_y[1:] %}
                                <option value="{{code_module_x}}">{{code_module_x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tbody>
                    <!-- Row 5 -->
                    <tbody>
                        <td>Semester (First Module):</td>
                        <td>
                            <select name="code_presentation_x" method="post" action="" width="300" style="width: 300px">
                                <option value="{{code_presentation_x[0]}}" selected>{{code_presentation_x[0]}}</option>
                                {% for code_presentation_x in code_presentation_x[1:] %}
                                <option value="{{code_presentation_x}}">{{code_presentation_x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>Second Module:</td>
                        <td>
                            <select name="code_module_y" method="post" action="" width="300" style="width: 300px">
                                <option value="{{code_module_y[0]}}" selected>{{code_module_y[0]}}</option>
                                {% for code_module_y in code_module_y[1:] %}
                                <option value="{{code_module_y}}">{{code_module_y}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tbody>
                    <tbody>
                        <td>Semester (Second Module):</td>
                        <td>
                            <select name="code_presentation_y" method="post" action="" width="300" style="width: 300px">
                                <option value="{{code_presentation_y[0]}}" selected>{{code_presentation_y[0]}}</option>
                                {% for code_presentation_y in code_presentation_y[1:] %}
                                <option value="{{code_presentation_y}}">{{code_presentation_y}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                    </tbody>
                </table>
                <div class="center">
                    <input type="submit" value="Predict" class="btn brand z-depth-0" style="float: center;">
                </div>
            </div>
        </form>
        <!-- end of question form to ask users to enter the options for prediction -->
        <div class="clear"></div>
    </main>
</div>
{% endblock content %}