{% extends "header.html"%}
{% block content %}
        <div class="bgded overlay" style="background-image:url({{url_for('static', filename='./images/img3.jpg')}});">
            <div id="breadcrumb" class="hoc clear">
                <ul class="slides">
                    <li>
                        <article1>
                            <h1 class='heading1'>Real time statistics </h1>
                        </article1>
                    </li>
                </ul>
                <ul>
                  <li><a href="/questionForm">Predict</a></li>
                  <li><a href="/real_time_statistics">Real time statistics</a></li>
                </ul>
            </div>
        </div>

        <div class="wrapper row3">
            <main class="hoc container clear">
                <div class="content">
                    <h1 align="center">Open University Learning Analytics Real time statistics Characteristics</h1>
                </div>
                <h1><br></h1>
                <div class="scrollable">
                    <h1 style="color:#353535" align="center">You can find some chart about the users here.<br> Let's have a look for better perspective</h1>
                    <table>
                        <tbody>
                            <!-- Row 1 -->
                            <td><!-- Plot 1 -->
                                <div align="center">
                                    <h6>Gender distribution</h6>
                                </div>
                                <div align="center">
                                    <div style="width: 350px; height: 350px">
                                        <canvas id="gender_database"></canvas>
                                    </div>
                                </div>
                            </td>
                            <td><!-- Plot 2 -->
                                <div align="center">
                                    <h6>Grade distribution regarding Gender</h6>
                                </div>
                                <div align="center">
                                    <div style="width: 350px; height: 350px">
                                        <canvas id="prediction_database" width="350" height="350"></canvas>
                                    </div>
                                </div>
                            </td>
                        </tbody>
                        <body>
                        </body>
                        <!-- For row 3 add body tag and then td tag -->
                    </table>
                </div>
            </main>
        </div>

        <!-- JAVASCRIPTS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <script src="{{ url_for('static', filename='./javascript/viz.js') }}"></script>
        <script>
            gender_database({{male|tojson}},{{female|tojson}})
            prediction_database({{w_male|tojson}},{{w_female|tojson}},{{p_male|tojson}},{{p_female|tojson}},{{f_male|tojson}},{{f_female|tojson}},{{d_male|tojson}},{{d_female|tojson}},)
        </script>
{% endblock content %}
